.projects-page {
    background-image: url("https://media.istockphoto.com/id/579157120/vector/construction-skyline-scene-blue-background.jpg?s=2048x2048&w=is&k=20&c=HjUozD3qHq15pMpMAoK14EMY0LhcLLcDL7ieKFnmvs8=");
    background-image: radial-gradient(white, rgb(45, 124, 157));
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    font-family: "Poppins";
}

.container {
    padding-top: 1.5rem;
}

.header {
    margin: 2rem 2rem;
    padding-bottom: 2rem;
    font-family: "Poppins";
}

.proj-header {
    padding-bottom: 0.5rem;
}

.grid-container {
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 4rem 3rem;
}

.description {
    border: solid 2px silver;
    background-color: black;
    color: white;
    text-align: left;
    padding: 0.5rem 0.5rem;
    font-size: smaller;
}

.container-description {
    text-align: left;
}

.youtube {
    align-items: left;
}