ul {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  list-style-type: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: right;
}


li {
  font-size: 1.25rem;
  text-decoration: none;
}

.navBar {
  background: black;
  box-shadow: 4px 2px 5px gray;
  color: white;
  /* margin-bottom: 2rem; */
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: silver;
  color: black;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
