.intro {
    font-family: cursive;
}

.home-page {
    background-image: url("C:\Users\mpmei\devCodeCamp_all\5651980.jpg");
    /* background-image: radial-gradient(black,silver); */
    background-size: 100%;
    background-repeat: repeat;
    padding-bottom: 5rem;
    color: black;
}

.home-page button {
    background: black;
    border: 2px solid white;
    color: white;
    margin-top: 1rem;
    padding: 0.4rem 0.5rem;
}
  
.home-page button:hover {
    background: silver;
    color: black;
    cursor: pointer;
}

.header-home {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.profile-image {
    border-radius: 1.2rem;
    box-shadow: 4px 4px 5px black;
}

.icons {
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icons:hover {
    size-adjust: 1.2rem;
}